.todo {
    background-color: #222;
    margin: 0.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.todo:hover {
    background-color: #111;
}

.todo p {
    opacity: 0.6;
}

.btn {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.checkbox {
    color: green;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(186, 243, 186);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}
.btn-grp{
    display: flex;
}