.Todo-Container{
    margin:20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* background-color: #444444; */
    /* min-height: 100vh; */
}
.alert-text{
   text-align: center;
   color:red;
   font-weight: 700;
   text-transform: capitalize;
   font-size: 25px;
}