.addtodo {
    position: fixed;
    bottom: 15px;
    /* display: block; */
    display: flex;
    width: 90%;
    margin: auto;
}

.input-field {
    width: 90%;
    padding: 10px;
}

.submit-btn {
    width: 20%;
    padding: 10px;
    font-weight: 600;
    transition: .3s ease all;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: red;
    border: none;
    color: #fff;
}

.form-field {
    display: flex;
}